html, body, button {
    font-family: "Public Sans", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: calc(0.35vw + 25px);
}

h3 {
    font-size: calc(.2vw + 20px);
}

p {
    font-size: calc(0.1vw + 15px);
}

@media only screen and (min-width: 1094px) {
    #topbox-container {
        display: flex;
        justify-content: center;
        height: min-content;
        background-color: #FAF8F2;
        padding-top: 2vh;
        padding-bottom: 4vh;
    }

    #topbox {
        background-color: #faeca0;
        border-radius: 10px;
        width: 75vw;
        height: min-content;
        padding: max(4vh, 25px) max(2vw, 25px);
    }

    #toprow {
        display: flex;
        flex-direction: row;
    }

    #toprow img {
        height: 12vh;
        min-height: 100px;
    }

    #toprow > div {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    #toprow ul {
        display: flex;
        flex-direction: row;
        gap: 2vw;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 2vh;
        margin-left: auto;
        font-weight: bold;
        height: min-content;
        font-size: calc(0.2vw + 20px);
    }

    #toprow ul li {
        border: 2px solid transparent;
        transition: border-bottom 0.3s ease;
    }

    #toprow ul li:hover {
        border-bottom: 2px solid #f8c423;
    }

    #burger {
        display: none;
    }

    #close {
        display: none;
    }

    #highlight a {
        border-bottom: 2px solid #f8c423;
    }
}

@media only screen and (max-width: 1093px) {
    #topbox-container {
        display: flex;
        justify-content: center;
        height: min-content;
        background-color: #FAF8F2;
        padding-top: 2vh;
        padding-bottom: 4vh;
    }

    #topbox {
        background-color: #faeca0;
        border-radius: 10px;
        width: 75vw;
        height: min-content;
        padding: max(4vh, 25px) max(2vw, 25px);
    }

    #toprow {
        display: flex;
        flex-direction: row;
    }

    #toprow > div {
        margin-left: auto;
    }

    #toprow img {
        height: 12vh;
        min-height: 100px;
    }

    #toprow ul {
        display: flex;
        flex-direction: column;
        background-color: #f8c423;
        gap: 2vw;
        list-style: none;
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: calc(0.2vw + 20px);
        position: fixed;
        top: 0;
        right: 0;
        min-height: 100vh;
        z-index: 100;
        padding: 2vh 2vw;
        width: 40vw;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    #toprow ul.open {
        transform: translateX(0);
    }

    #toprow ul li {
        border: 2px solid transparent;
    }

    #toprow ul li a {
        border: 2px solid transparent;
        transition: border-bottom 0.3s ease;
    }

    #toprow ul li a:hover {
        border-bottom: 2px solid white;
    }

    #burger {
        font-size: calc(0.9vw + 25px);
        cursor: pointer;
    }

    #close {
        position: absolute;
        top: 2vh;
        right: 2vw;
        font-size: calc(0.9vw + 25px);
        cursor: pointer;
    }

    #toprow li#highlight a {
        border-bottom: 2px solid white;
    }
}

a {
    color: black;
    text-decoration: none;
}

@media only screen and (min-width: 760px) {
    #below {
        padding-top: 6vh;
        padding-bottom: 6vh;
        padding-left: 12.5vw;
        background-color: #F4F0E6;
        display: flex;
        flex-direction: column;
        gap: 4vh;
        height: min-content;
    }

    #below > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4vw;
    }

    #below > div > div:not(.exclude) {
        width: 35.5vw;
    }

    #below img {
        width: 35.5vw;
        height: min-content;
    }

    #open > #textual {
        width: 35.5vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3vh;
    }

    #open #imgcont {
        width: 35.5vw;
    }

    #textual div {
        background-color: #faeca0;
        padding: max(1vh, 15px) max(1vw, 15px);
        border-radius: 10px;
    }

    #textual h3 {
        margin: 0;
    }
}

@media only screen and (max-width: 759px) {
    #below {
        padding-top: 6vh;
        padding-bottom: 6vh;
        padding-left: 12.5vw;
        background-color: #F4F0E6;
        display: flex;
        flex-direction: column;
        gap: 4vh;
        height: min-content;
    }

    #below > div {
        display: flex;
        flex-direction: column;
        gap: 4vh;
    }

    #below > div > div:not(.exclude) {
        width: 75vw;
    }

    #below img {
        width: 75vw;
        height: min-content;
    }

    #open > #textual {
        width: 75vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2vh;
    }

    #open #imgcont {
        width: 75vw;
    }

    #textual div {
        background-color: #faeca0;
        padding: max(1vh, 15px) max(1vw, 15px);
        border-radius: 10px;
    }

    #textual h3 {
        margin: 0;
    }

    #open img {
        width: 100%;
        object-fit: cover;
        object-position: right bottom;
    }
}

.notopmargin {
    margin-top: 0 !important;
}

.nobottommargin {
    margin-bottom: 0 !important;
}

#below a {
    font-weight: bold;
    text-decoration: underline;
}

#below img + p:not(#linktop) {
    margin: 0;
    margin-top: .5vh;
    margin-bottom: 1.5vh;
    font-size: 95%;
}

#helpfullinks {
    display: flex;
    flex-direction: column;
    gap: .75vh;
    font-size: calc(0.1vw + 15px);
}

@media only screen and (min-width: 1417px) {
    footer {
        background-color: #333;
        color: white;
        padding-left: 12.5vw;
        padding-right: 12.5vw;
        padding-top: 4vh;
        padding-bottom: 6vh;
        display: flex;
        flex-direction: row;
    }

    footer p {
        margin: 0;
    }

    #icons {
        margin-left: auto;
        display: flex;
        gap: min(1vw, 10px);
    }

    #icons a {
        color: white;
        transition: color 0.3s ease;
    }

    #icons a:hover {
        color: #f8c423;
    }

    #footerlinks {
        display: flex;
        transform: translateX(-50%);
        left: 50%;
        gap: 2vw;
        position: absolute;
    }

    #footerlinks a {
        color: white;
    }
}

@media only screen and (max-width: 1416px) and (min-width: 517px) {
    footer {
        background-color: #333;
        color: white;
        padding-left: 12.5vw;
        padding-right: 12.5vw;
        padding-top: 4vh;
        padding-bottom: 6vh;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    footer p {
        margin: 0;
    }

    #icons {
        display: flex;
        gap: max(1vw, 10px);
    }

    #icons a {
        color: white;
        transition: color 0.3s ease;
    }

    #icons a:hover {
        color: #f8c423;
    }

    #footerlinks {
        display: flex;
        gap: 2vw;
    }

    #footerlinks a {
        color: white;
    }
}

@media only screen and (max-width: 516px) {
    footer {
        background-color: #333;
        color: white;
        padding-left: 12.5vw;
        padding-right: 12.5vw;
        padding-top: 4vh;
        padding-bottom: 6vh;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    footer p {
        margin: 0;
    }

    #icons {
        display: flex;
        gap: max(1vw, 10px);
    }

    #icons a {
        color: white;
        transition: color 0.3s ease;
    }

    #icons a:hover {
        color: #f8c423;
    }

    #footerlinks {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    #footerlinks a {
        color: white;
    }
}