html, body, button {
    font-family: "Public Sans", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: calc(0.35vw + 25px);
}

h3 {
    font-size: calc(.2vw + 20px);
}

p {
    font-size: calc(0.1vw + 15px);
}

@media only screen and (min-width: 1094px) {
    #topbox-container {
        display: flex;
        justify-content: center;
        height: min-content;
        background-color: #FAF8F2;
        padding-top: 2vh;
        padding-bottom: 4vh;
    }

    #topbox {
        background-color: #faeca0;
        border-radius: 10px;
        width: 75vw;
        height: min-content;
        padding: max(4vh, 25px) max(2vw, 25px);
    }

    #toprow {
        display: flex;
        flex-direction: row;
    }

    #toprow img {
        height: 12vh;
        min-height: 100px;
    }

    #toprow > div {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    #toprow ul {
        display: flex;
        flex-direction: row;
        gap: 2vw;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 2vh;
        margin-left: auto;
        font-weight: bold;
        height: min-content;
        font-size: calc(0.2vw + 20px);
    }

    #toprow ul li {
        border: 2px solid transparent;
        transition: border-bottom 0.3s ease;
    }

    #toprow ul li:hover {
        border-bottom: 2px solid #f8c423;
    }

    #burger {
        display: none;
    }

    #close {
        display: none;
    }

    #highlight a {
        border-bottom: 2px solid #f8c423;
    }
}

@media only screen and (max-width: 1093px) {
    #topbox-container {
        display: flex;
        justify-content: center;
        height: min-content;
        background-color: #FAF8F2;
        padding-top: 2vh;
        padding-bottom: 4vh;
    }

    #topbox {
        background-color: #faeca0;
        border-radius: 10px;
        width: 75vw;
        height: min-content;
        padding: max(4vh, 25px) max(2vw, 25px);
    }

    #toprow {
        display: flex;
        flex-direction: row;
    }

    #toprow > div {
        margin-left: auto;
    }

    #toprow img {
        height: 12vh;
        min-height: 100px;
    }

    #toprow ul {
        display: flex;
        flex-direction: column;
        background-color: #f8c423;
        gap: 2vw;
        list-style: none;
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: calc(0.2vw + 20px);
        position: fixed;
        top: 0;
        right: 0;
        min-height: 100vh;
        z-index: 100;
        padding: 2vh 2vw;
        width: 40vw;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    #toprow ul.open {
        transform: translateX(0);
    }

    #toprow ul li {
        border: 2px solid transparent;
    }

    #toprow ul li a {
        border: 2px solid transparent;
        transition: border-bottom 0.3s ease;
    }

    #toprow ul li a:hover {
        border-bottom: 2px solid white;
    }

    #burger {
        font-size: calc(0.9vw + 25px);
        cursor: pointer;
    }

    #close {
        position: absolute;
        top: 2vh;
        right: 2vw;
        font-size: calc(0.9vw + 25px);
        cursor: pointer;
    }

    #toprow li#highlight a {
        border-bottom: 2px solid white;
    }
}

a {
    color: black;
    text-decoration: none;
}

#content1 {
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-left: 12.5vw;
    background-color: #F4F0E6;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#content1 h1 {
    margin: 0;
}

#content1 a {
    font-weight: bold;
    text-decoration: underline;
}

@media only screen and (min-width: 760px) {
    #listholder {
        display: flex;
        flex-direction: row;
        gap: 4vw;
        height: min-content;
    }

    #listholder > div {
        display: flex;
        flex-direction: column;
        width: calc(67vw/3);
        gap: 2vh;
    }
}

@media only screen and (max-width: 759px) {
    #listholder {
        display: flex;
        flex-direction: column;
        gap: max(2vh, 15px);
        height: min-content;
    }

    #listholder > div {
        display: flex;
        flex-direction: column;
        width: 75vw;
        gap: max(2vh, 15px);
    }
}

#listholder ul {
    display: flex;
    flex-direction: column;
    gap: max(1vh, 10px);
}

#listholder h3, #listholder p, #listholder li, #listholder ul {
    margin: 0;
}

#heading {
    display: flex;
    flex-direction: row;
    gap: .75vw;
    align-items: center;
}

#heading i {
    font-size: calc(0.8vw + 20px);
}

#content2 {
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-left: 12.5vw;
    background-color: #FAF8F2;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

#content2 h1 {
    margin-bottom: 0;
}

@media only screen and (min-width: 760px) {
    .layer {
        display: flex;
        flex-direction: row;
        gap: 4vw;
        align-items: center;
    }

    .layer > div {
        width: 35.5vw;
    }

    #content2 img {
        width: 35.5vw;
        height: min-content;
    }
}

@media only screen and (max-width: 759px) {
    .layer {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        align-items: center;
        width: 75vw;
    }

    #walkexception {
        margin-top: 0;
    }

    #content2 img {
        width: 75vw;
        height: min-content;
        order: -1;
    }
}

#content2 > div > div > div > ul > li > p {
    margin: 0;
    margin-bottom: 1vh;
}

#summary {
    display: flex;
    gap: .5vw;
    flex-direction: row;
    align-items: center;
}

#details {
    margin-bottom: 1vh;
}

#details > #summary > span {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    font-size: 90%;
    font-size: calc(0.9*(0.1vw + 15px));
}

#details > div > p {
    padding: 0;
    margin: 0;
    margin-top: 1vh;
    font-size: calc(0.9*(0.1vw + 15px));
}

#details a {
    font-weight: bold;
    text-decoration: underline;
}

@media only screen and (min-width: 1417px) {
    footer {
        background-color: #333;
        color: white;
        padding-left: 12.5vw;
        padding-right: 12.5vw;
        padding-top: 4vh;
        padding-bottom: 6vh;
        display: flex;
        flex-direction: row;
    }

    footer p {
        margin: 0;
    }

    #icons {
        margin-left: auto;
        display: flex;
        gap: min(1vw, 10px);
    }

    #icons a {
        color: white;
        transition: color 0.3s ease;
    }

    #icons a:hover {
        color: #f8c423;
    }

    #footerlinks {
        display: flex;
        transform: translateX(-50%);
        left: 50%;
        gap: 2vw;
        position: absolute;
    }

    #footerlinks a {
        color: white;
    }
}

@media only screen and (max-width: 1416px) and (min-width: 517px) {
    footer {
        background-color: #333;
        color: white;
        padding-left: 12.5vw;
        padding-right: 12.5vw;
        padding-top: 4vh;
        padding-bottom: 6vh;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    footer p {
        margin: 0;
    }

    #icons {
        display: flex;
        gap: max(1vw, 10px);
    }

    #icons a {
        color: white;
        transition: color 0.3s ease;
    }

    #icons a:hover {
        color: #f8c423;
    }

    #footerlinks {
        display: flex;
        gap: 2vw;
    }

    #footerlinks a {
        color: white;
    }
}

@media only screen and (max-width: 516px) {
    footer {
        background-color: #333;
        color: white;
        padding-left: 12.5vw;
        padding-right: 12.5vw;
        padding-top: 4vh;
        padding-bottom: 6vh;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    footer p {
        margin: 0;
    }

    #icons {
        display: flex;
        gap: max(1vw, 10px);
    }

    #icons a {
        color: white;
        transition: color 0.3s ease;
    }

    #icons a:hover {
        color: #f8c423;
    }

    #footerlinks {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    #footerlinks a {
        color: white;
    }
}