html, body, button {
    font-family: "Public Sans", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: calc(0.35vw + 25px);
}

h3 {
    font-size: calc(.2vw + 20px);
}

p {
    font-size: calc(0.1vw + 15px);
}

#topbox-container {
    display: flex;
    justify-content: center;
    height: min-content;
    background-color: #FAF8F2;
    padding-bottom: 3vh;
}

#topbox {
    background-color: #faeca0;
    border-radius: 10px;
    width: 75vw;
    height: min-content;
    margin-top: 2vh;
    padding: 2vh 2vw;
}

#toprow {
    display: flex;
    flex-direction: row;
}

#toprow img {
    height: 12vh;
}

#toprow ul {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-top: 4%;
    font-weight: bold;
    height: min-content;
    font-size: calc(0.2vw + 20px);
}

#toprow ul li {
    border: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

#toprow ul li:hover {
    border-bottom: 2px solid #f8c423;
}

a {
    color: black;
    text-decoration: none;
}

#below {
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-left: 12.5vw;
    background-color: #F4F0E6;
    display: flex;
    flex-direction: row;
    gap: 4vw;
    height: min-content;
    align-items: center;
}

#below div {
    width: 35.5vw;
}

#below img {
    width: 35.5vw;
    height: min-content;
}

@media only screen and (min-width: 1417px) {
    footer {
        background-color: #333;
        color: white;
        padding-left: 12.5vw;
        padding-right: 12.5vw;
        padding-top: 4vh;
        padding-bottom: 6vh;
        display: flex;
        flex-direction: row;
    }

    footer p {
        margin: 0;
    }

    #icons {
        margin-left: auto;
        display: flex;
        gap: 1vw;
    }

    #icons a {
        color: white;
        transition: color 0.3s ease;
    }

    #icons a:hover {
        color: #f8c423;
    }

    #footerlinks {
        display: flex;
        transform: translateX(-50%);
        left: 50%;
        gap: 2vw;
        position: absolute;
    }

    #footerlinks a {
        color: white;
    }
}

@media only screen and (max-width: 1416px) {
    footer {
        background-color: #333;
        color: white;
        padding-left: 12.5vw;
        padding-right: 12.5vw;
        padding-top: 4vh;
        padding-bottom: 6vh;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    footer p {
        margin: 0;
    }

    #icons {
        display: flex;
        gap: 1vw;
    }

    #icons a {
        color: white;
        transition: color 0.3s ease;
    }

    #icons a:hover {
        color: #f8c423;
    }

    #footerlinks {
        display: flex;
        gap: 2vw;
    }

    #footerlinks a {
        color: white;
    }
}